@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO</h1>
    <p>FORMULARIO</p>
    <a href="http://localhost:56575/Formulario">Form</a>
</div>
